<h1>ユーザー詳細</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" if current_user == @user  %>

<h2>YourPictures</h2>

<%= render 'pictures/pictures', pictures: @pictures %>


